.profile-banner {
    background-image: url(https://res.cloudinary.com/omaha-code/image/upload/ar_4:3,c_fill,dpr_1.0,e_art:quartz,g_auto,h_396,q_auto:best,t_Linkedin_official,w_1584/v1561576558/mountains-1412683_1280.png);
    height: 130px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.profile-wrapper {
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 25px;
}

.profile-image {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
}

.username {
    float: left;
    margin-left: 15%;
    font-size: 1.5rem;
}

.number-of-nfts {
    float: left;
    margin-left: 30px;
    font-size: 1.5rem;
}

.number-of-friends {
    float: left;
    margin-left: 30px;
    font-size: 1.5rem;
}

.profile-dot-divider {
    float: left;
    margin-left: 30px;
    font-size: 1.5rem;
}

.profile-text-container {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 190px;
    resize: none;
    -webkit-text-stroke: 1px black;
    color: white;
    white-space: nowrap;
}


/* START TABS */


/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    text-align: center;
    width: 100%;
}


/* Style the buttons that are used to open the tab content */

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #ccc;
}


/* Style the tab content */

.tabcontent {
    padding: 6px 12px;
    border-top: none;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.2em;
}

.tabcontent h2 {
    font-size: 2rem;
    padding-bottom: 5%;
}

.collection-gallery {
    width: 100%;
    height: auto;
}

div.gallery {
    margin: 50px;
    border: 1px solid #ccc;
    float: left;
    width: 20vw;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.pagination {
    margin-top: 50%;
}


/* Friends */

.friends-container {
    margin: 20px;
    margin-bottom: 25px;
    text-align: center;
}

.friends-list {
    display: inline-block;
}

.friends-list-item {
    margin: 20px;
    height: 100px;
    overflow-x: hidden;
    object-position: center;
}

.friends-list-item img {
    float: left;
    width: 100px;
    height: 100px;
}

.friends-list-item p {
    float: left;
    margin-left: 10px;
    margin-top: 35px;
    text-align: justify;
}


/* GROUPS */

.groups-container {
    margin: 20px;
    margin-bottom: 25px;
    text-align: center;
}

.groups-list {
    width: 300px;
    display: inline-block;
}

.groups-h3 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
    color: #ad14f2;
    margin: 10px;
}

.groups-list-item img {
    width: 200px;
}

.groups-p {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
    color: black;
}

.groups-list-item {
    padding: 10px;
    overflow: hidden;
    margin: 20px;
}

.groups-list-item:hover {
    background: #eee;
    cursor: pointer;
}